:root {
  /*font-size*/
  --sm-text: 1rem;
  --XG-text: 1.2rem;
  --XXG-text: 1.5rem;
  --XXXG-text: 3rem;
  /*font-weight*/
  --w-500: 500;
  --w-700: 700;
  --w-800: 800;
  /*colors*/
  --primary-color-01: hsl(0, 100%, 67%);
  --primary-color-02: hsl(39, 100%, 56%);
  --primary-color-03: hsl(166, 100%, 37%);
  --primary-color-04: hsl(234, 85%, 45%);
  --gradient-color-01: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --gradient-color-02: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  --neutral-color-01: hsl(0, 0%, 100%);
  --neutral-color-02: hsl(221, 100%, 96%);
  --neutral-color-03: hsl(241, 100%, 89%);
  --neutral-color-04: #303b59;
  --neutral-color-05: #303b59;
}
